

@media (min-width:769px) and (max-width:1990px) {
    body{
        margin:0;
    }

    .togle{
        display: none;
    }

.hd{
    display: flex;
    justify-content: space-between;
    
    flex-direction: row;
    background-color: #fff6df;
    font-family: 'Amatic SC', cursive;
    flex-wrap: nowrap; 
    white-space: nowrap;


}
.hd a{
    text-decoration: none;
    position:relative;
    top:15px;

}
.header_title{
    font-size: 50px;
    display: flex;
    padding-left:300px;
}
.header_title a{
    color:#696969;

}
.header_title i{
    font-size: 30px;
    position:relative;
    top:15px;
    color:#5c4325;
    
   
}
.header_menu{

    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right: 310px;
    font-size: 25px;

    
}

.header_menu li{
    padding-left: 25px;
    padding-right: 35px;
    
}
.header_menu a{
    color:#949494;
}
.header_menu a:hover{
    color:#372513;
    transition: 0.5s;
}
.header_login{
    
    font-size: 25px;
    
    
}
.header_login a{
    color:#949494;
    border:1px solid #949494;
    border-radius: 4px;
    padding: 5px 18px;
    
}
.header_login a:hover{
    background-color: rgb(100, 97, 75);
    border:hidden;
    color:#fff6df;
    transition: 0.5s;
}
nav{
    height: 100%;
    background-color: #ffeaaf;
    padding: 20px;
    white-space: nowrap;
    flex-wrap: nowrap; 
    
}

nav div{
    display: flex;
    justify-content:center;
    line-height: 40px;

}
.nav_review{
    
    display: flex;
    justify-content:center;
     
    
    
}
.nav_review a{
    font-size: 70px;
    
    color:#59524f;
    text-decoration: none;
    padding-top: 100px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    


}



.nav_sale{
    padding: 30px;
}


img{
    padding:100px;
    margin-left: 100px;
}


}



@media screen and (max-width:768px) {
    body{
        margin:0;
    }
    .hd{
        display: flex;
        
        flex-direction: column;
        background-color: #fff6df;
        font-family: 'Amatic SC', cursive;
        flex-wrap: nowrap; 
        white-space: nowrap;
       
    
    
    }
    .hd a{
        text-decoration: none;
       
    
    }
    .header_title{
        font-size: 50px;
        display: flex;
        padding-left: 10px;
    }
    .header_title a{
        color:#696969;
    
    }
    .header_title i{
        font-size: 30px;
        position:relative;
        top:15px;
        color:#5c4325;
        
       
    }
    .header_menu{
       
        list-style: none;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content:center ;
        width: 100%;
        font-size: 25px;
       
    
        
    }
    
    .header_menu li{
        
        text-align: center;
        width: 100%;
        
        padding:5px ;

    }
    .header_menu a{
        color:#949494;
        width: 100%;
        padding:0px 100px;
        
    }
    
    .header_menu li:hover{
        background-color:#eadb99bd;
        transition: 0.5s;
       
    }
    .header_login{
        
        font-size: 25px;
        position:relative;
        top:12px;
        margin-bottom: 8px;
        
    }
    .header_login a{
        color:#949494;
        border:1px solid #949494;
        border-radius: 4px;
        padding: 5px 18px;
        
    }
    .header_login a:hover{
        background-color: rgb(100, 97, 75);
        border:hidden;
        color:#fff6df;
        transition: 0.2s;
    }
    .togle{
        display: block;
        
        
        align-self: flex-end;
        position: absolute;
        top:20px;
        color: rgba(70, 60, 39, 0.437);
        font-size: 26px;
        padding-right: 10px;

    }
    nav{
        height: 100%;
        background-color: #ffeaaf;
        padding: 20px;
        
        
    }
    
    nav div{
        display: flex;
        justify-content:center;
        line-height: 20px;
    
    }
    .nav_review{
        
        display: flex;
        justify-content:center;
        flex-wrap: wrap; 
        white-space: wrap;
        
    }
    .nav_review a{
        text-align: center;
        font-size: 40px;
        flex-wrap: wrap; 
        line-height: 50px;
        
        color:#59524f;
        text-decoration: none;
        padding: 40px 10px 20px 10px;
        font-family: 'Edu VIC WA NT Beginner', cursive;
        
    
    
    }
    
   
    
    .nav_sale{
        padding: 30px;
    }
    
    
    img{
        
        margin-top: 10px;
        margin-left: 0px;
        width: 100%;
    }


    .header_menu.active{
        display: flex;
    }
    
}

